# <font color='blue'>Data Science Academy</font>

## <font color='blue'>Fundamentos de Linguagem Python Para Análise de Dados e Data Science</font>

## <font color='blue'>Capítulo 4 - Exercícios</font>

In [5]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.9.13

## Exercícios

In [51]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
a = []

for num in range(1, 11):
    a.append(num)

print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
lista5 = [(1, 'TUPLA'), ['2LISTAS'], "OwO", 251, {"cats":"snakes"}]
print(lista5)

[(1, 'TUPLA'), ['2LISTAS'], 'OwO', 251, {'cats': 'snakes'}]

In [65]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
string1 = "Pão de Queso"
string2 = "Banana e Requeijão"

string3 = string1 + " com " + string2

print(string1, string2)

string3

Pão de Queso Banana e Requeijão

'Pão de Queso com Banana e Requeijão'

In [67]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tupla1 = (1, 2, 2, 3, 4, 4, 4, 5)
tupla1.count(4)

3

In [68]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
dict1 = {}
dict1

{}

In [72]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dict2 = {"Key1":"Banana", "Key2":"Maringa", "Key3":"James Baxter"}
dict2

{'Key1': 'Banana', 'Key2': 'Maringa', 'Key3': 'James Baxter'}

In [73]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
dict2["Key4"] = "Python's Here"
dict2

{'Key1': 'Banana',
 'Key2': 'Maringa',
 'Key3': 'James Baxter',
 'Key4': "Python's Here"}

In [76]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. 
# Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.
dict3 = {'Key11': 'Jake', 'Key22':[5, 10], 'Key33':'Finn'}
dict3
type(dict3['Key22'])

list

In [91]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista.
list1 = ["Huma String", ('John', 'SexyBoy'), {'Key1':'Studying is KEY', 'Key2':'Or is it?!?'}, 3.14]
list1

type(list1[3])

float

In [92]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [94]:
frase[0:18]

'Cientista de Dados'

# Fim

### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>